<h3>Admin Login</h3>

<form action="/register" method="POST" autocomplete="off">
    {{!-- <input type="hidden" name="_id" value="{{employee._id}}"> --}}
    <div class="form-group">
        <label>Username*</label>
        <input type="text" class="form-control" name="username" placeholder="username" >
        <div class="text-danger">
            </div>
    </div>
    <div class="form-group">
        <label>Password*</label>
        <input type="password" class="form-control" name="password" placeholder="password" >
        <div class="text-danger">
            </div>
    </div>
    {{!-- <div class="form-row">
        <div class="form-group col-md-6">
            <label>Mobile</label>
            <input type="text" class="form-control" name="mobile" placeholder="Mobile" >
        </div>
        <div class="form-group col-md-6">
            <label>City</label>
            <input type="text" class="form-control" name="city" placeholder="City" >
        </div>
    </div> --}}
    <div class="form-group">
        <button type="submit" class="btn btn-info"><i class="fa fa-database"></i> Submit</button>
        <a class="btn btn-secondary" href="/employee/list"><i class="fa fa-list-alt"></i> View All</a>
    </div>
</form>